[Desktop Entry]
Version=1.0
Name=Mediamux Start
GenericName=Mediamux Start
Comment=Start Mediamux Player
Exec=/home/pi/media-mux/media-mux-start.sh
Icon=mediamuxstart
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;

